.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


* {
  font-family: Roboto, "Condensed", serif;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  padding-inline-start: 0;
}

input[type="submit"]:hover,
ul > li:hover {
  cursor: pointer;
  transform: scale(1.1);
}

li {
  list-style-type: none;
  display: inline-block;
  border: 2px solid white;
  padding: 10px;
  margin: 10px;
  width: 100px;
  text-align: center;
}

img {
  width: 35px;
  height: 35px;
  margin-top: 25px;
  opacity: 0.8;
}

h2 {
  font-size: 50px;
  margin: 0;
}

label {
  color: gray;
  font-size: 25px;
}

section {
  text-align: center;
  margin-top: 5px;
  position: relative;
  padding-bottom: 6px;
}

form {
  text-align: center;
}

input {
  display: block;
  margin: 10px auto;
  width: 200px;
  border: 2px solid lightsteelblue;
  padding: 5px;
}

footer {
  margin-top: 50px;
  text-align: center;
  background: black;
  padding: 10px 0;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#viewCatalog {
  margin-bottom: 5%;
  margin-top: 3%;
}

.added-cars-in-market {
  color: white;
  cursor: pointer;
  width: 500px;
  border: 2px solid white;
  text-align: center;
  background: rgba(0, 0, 0, 0.703);
  padding-bottom: 10px;
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  height: 300px;
}

.picture-added-cars {
  width: 300px;
  height: 200px;
  border-radius: 50%;
}

.picture-added-cars:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.added-cars {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

h3 {
  font-size: 22px;
  margin-bottom: 0;
}

.guest {
  text-align: center;
  position: relative;
  margin: 0 auto;
  margin-top: 10%;
  color: white;
  background: rgba(0, 0, 0, 0.703);
  padding: 40px;
  width: 30%;
  font-size: 30px;
  border: 2px solid white;
}
